audio_files
20200814T142239-0500_ExportTabsURLs.txt
assorted-Music-open-webpages-esp-guitar-tabs copy.txt 
more-tabs.txt
my-vocal-range
celtic-DADGAD-tuning-songs.txt                        
other
leads.txt
